
<div class="container">
    <div class="col-12 col-md-3 col-xl-3">
        <h2 class="text-success my-5">
            Este es el Usuario con ID: {{ id }}
        </h2>
    </div>
    <div class="col-12 col-md-3 col-xl-3">
        <img class="dsc-user-img" src="{{currentUser.avatar}}">
    </div>
    <div class="col-12 col-md-6 col-xl-9">
        <h2>Detalles de {{ currentUser.name}}</h2>
        <h2>Edad: {{ currentUser.age }}</h2>
        <h3>Puesto: {{ currentUser.work }}</h3>
        <p>{{ currentUser.description }}</p>
    </div>
</div>
