<div class="dsc-card" *ngIf="dataInterest" routerLink="/panel/interest/{{dataInterest.id}}">
    <div class="dsc-card-img">
        <img src="{{dataInterest.avatar}}" alt="{{dataInterest.avatar}}">
    </div>
    <div class="dsc-card-info">
        <div class="title-interest">
            {{dataInterest.title}}
        </div>
        <p class="description-interest">{{dataInterest.description}}</p>
        <p>{{dataInterest.link}}</p>
        <!--<p *ngIf="data.work">{{data.work}}</p>-->
    </div>
</div>
